
<div class="row">
        <div class="card col-5" *ngFor="let worker of workers">
                <article class="row">
                        <app-single-worker-place [worker] = "worker" class="col-lg-4 col-xs-12"></app-single-worker-place>
                        <h4 class="col-lg-8 col-xs-12">{{worker.name}}</h4>
                        <div class="skill-title col-4">Skills</div>
                        <app-skills [skills] = "worker.skills" class="col-8"></app-skills>
                </article>
        </div>
</div>
