<div class="row">
    <div class="card col-6" *ngFor="let worker of workers">
        <article class="row">
                <app-single-worker-place [worker] = "worker" class="col-lg-4 col-xs-12"></app-single-worker-place>
                <h4 class="col-lg-8 col-xs-12">{{worker.name}}</h4>
                <div>
                    <div class="skill-title skill-list">Skills</div>
                    <app-skills class="skill-list" [skills] = "worker.skills"></app-skills>
                </div>
        </article>
    </div>
</div>
