<section class="scroll-bar" >
    <article>
        <button class="btn btn-primary mb-2" (click)="toggleRobotsOrHumans()">
            <span *ngIf="optionToggleRobotsOrHumans == 'humans'">Robots</span>
            <span *ngIf="optionToggleRobotsOrHumans == 'robots'">Humans</span>
        </button>
    </article>  
        <app-humans class="horizontal-scroll-bar" *ngIf="optionToggleRobotsOrHumans == 'humans'"></app-humans>
        <app-robots class="horizontal-scroll-bar" *ngIf="optionToggleRobotsOrHumans == 'robots'"></app-robots>
</section>