.workers {
    /*Fixed to bottom*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--azul-claro);
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* for iOS */
}
    
.main {
    display:block;
    overflow-y: scroll;
    max-width: max-content;
    height: calc(100vh - 200px);
}
    
    
    
    