<section class="factory">
    <h1>Factory</h1>
    <article class="board">
        <canvas #myCanvas class="canvas"></canvas>
        <app-action [action] = "1" class="action" style="top: 10px; left: 400px;"></app-action>
        <app-action [action] = "2" class="action" style="top: 10px; left: 10px;"></app-action>
        <app-action [action] = "3" class="action" style="top: 10px; left: 810px;"></app-action>
        <app-action [action] = "3" class="action" style="top: 10px; left: 1210px;"></app-action>
        <app-action [action] = "4" class="action" style="top: 300px; left: 200px;"></app-action>
        <app-action [action] = "5" class="action" style="top: 300px; left: 810px;"></app-action>
    </article>
</section>
