<section class="factory">
    <h1>Factory</h1>
    <article class="board">
        <app-action [action] = "1" class="action" style="top: 10px; left: 10px;"></app-action>
        <app-action [action] = "2" class="action" style="top: 10px; left: 300px;"></app-action>
        <app-action [action] = "3" class="action" style="top: 10px; left: 610px;"></app-action>
        <app-action [action] = "4" class="action" style="top: 10px; left: 900px;"></app-action>
        <app-action [action] = "5" class="action" style="top: 230px; left: 150px;"></app-action>
        <app-action [action] = "6" class="action" style="top: 230px; left: 610px;"></app-action>
        <app-action [action] = "7" class="action" style="top: 450px; left: 150px;"></app-action>
        <app-action [action] = "8" class="action" style="top: 450px; left: 610px;"></app-action>

    </article>
</section>
<canvas #myCanvas class="canvas"></canvas>

