<section class="factory">
    <h1>Fabrica 1</h1>
    <div class="row">
        <app-task [task] = "1" class="col-lg-4 col-md-6 col-xs-12"></app-task>
        <app-task [task] = "2" class="col-lg-4 col-md-6 col-xs-12"></app-task>
        <app-task [task] = "3" class="col-lg-4 col-md-6 col-xs-12"></app-task>
        <app-task [task] = "4" class="col-lg-4 col-md-6 col-xs-12"></app-task>
        <app-task [task] = "5" class="col-lg-4 col-md-6 col-xs-12"></app-task>
        <app-task [task] = "6" class="col-lg-4 col-md-6 col-xs-12"></app-task>

        

    </div>
</section>
