.factory {
    margin: 30px 30px 0px 50px;
}

.action {
    margin: 10px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    display: block;
    position: absolute;
}

.board {
    position: relative;
    background-color: red !important;
}

.canvas {
    position:absolute;
    z-index: 1;
    width: max-content;
    height: max-content;

    background-color: aqua;
}

