.factory {

}

.workers {
/*Fixed to bottom*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--azul-claro);
    height: 200px;
}

.main {
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 200px);
}