<section class="factory">
      <app-action *ngFor="let action of actions" [action]="action" class="action" [style.top.px]="action.top" [style.left.px]="action.left"></app-action>
      <app-connector [orientation]="'UpperLeft'" [left]="100" [top]="132" ></app-connector>
      <app-connector [orientation]="'UpperRight'" [left]="190" [top]="132" ></app-connector>
      <app-connector [orientation]="'UpperLeft'" [left]="550" [top]="132" ></app-connector>
      <app-connector [orientation]="'UpperRight'" [left]="640" [top]="132" ></app-connector>
      <app-connector [orientation]="'LowerLeft'" [left]="100" [top]="282" ></app-connector>
      <app-connector [orientation]="'LowerRight'" [left]="190" [top]="282" ></app-connector>
      <app-connector [orientation]="'LowerRight'" [left]="640" [top]="282" ></app-connector>
      <app-connector [orientation]="'Straigth'" [left]="970" [top]="132" ></app-connector>
      <app-connector [orientation]="'LargeLowerLeft'" [left]="730" [top]="282" ></app-connector>

</section>
