<section class="factory">
      <app-action *ngFor="let action of actions" [action]="action" class="action" [style.top.px]="action.top" [style.left.px]="action.left"></app-action>
      <app-connector [orientation]="'UpperLeft'" [left]="50" [top]="132" ></app-connector>
      <app-connector [orientation]="'UpperRight'" [left]="140" [top]="132" ></app-connector>
      <app-connector [orientation]="'UpperLeft'" [left]="350" [top]="132" ></app-connector>
      <app-connector [orientation]="'UpperRight'" [left]="440" [top]="132" ></app-connector>
      <app-connector [orientation]="'LowerLeft'" [left]="40" [top]="282" ></app-connector>
      <app-connector [orientation]="'LowerRight'" [left]="130" [top]="282" ></app-connector>
      <app-connector [orientation]="'LowerRight'" [left]="410" [top]="282" ></app-connector>
      <app-connector [orientation]="'Straigth'" [left]="700" [top]="132" ></app-connector>
      <app-connector [orientation]="'LargeLowerLeft'" [left]="500" [top]="282" ></app-connector>

</section>
